@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&family=Lato:ital,wght@0,400;1,300&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
.footer{
    background-color: rgb(249 115 22);
}
.footerHeader{
    font-family: 'IBM Plex Mono', monospace;
    align-items: center; 
    margin: auto;
    color: white;
}

.youtubesocial{
    margin: 0.5rem 0.5rem;
}

.facebooksocial{
    margin: 0.5rem 0.5rem;
}

.twittersocial{
    margin: 0.5rem 0.5rem;
}

.instagramsocial{
    margin: 0.5rem 0.5rem;
}